.footer {
  padding-top: 16px;
  text-decoration: none;
  transition: var(--transition);
  text-align: center;
  color: var(--black);
}

.footer p {
  font-size: 12px;
}

.footer a {
  text-decoration: none;
  font-weight: 700;
  color: var(--blue);
}

.footer a:hover {
  color: var(--dark-blue);
}
